h1 {
    color: whitesmoke;
    text-align: center;
    margin: auto;
    width: 220px;
    border: 3px solid #1A1818;
    background-color: #3BC1EE ;
    margin-top: 250px;
    
}
.p1 {
    color: whitesmoke;
    text-align: center;
    margin: auto;
    width: 270px;
    border: 3px solid #1A1818;
    background-color: #3BC1EE ;
}    
body {
    background-image: url("kuvat/etusivuntausta.jpg");
    background-repeat: no-repeat;
    background-size: 900px 540px;
    background-attachment: fixed;
    background-position: bottom;
}
 