
body {
    background-image: url("kuvat/etusivuntausta.jpg");
    background-repeat: no-repeat;
    background-size: 900px 540px;
    background-attachment: fixed;
    background-position: bottom;
}
 