body {
    background-color: #8D613B;
  }

nav a {
    font-family: otsikko, Intern serif;
    color:whitesmoke;
    text-decoration:none;
    display: inline-block;
    width: 100px;
    height: 60px;
    padding: 5px;
    border: 2px solid #1A1818;
    background-color: #3BC1EE;
}
nav a:hover {
    color: #1A1818;
    background-color: #CAA03E;
}
#valittu {
    color: rgba(red, green, blue, alpha);
    background-color: rgba(red, green, blue, 0.6);
}