*{
  margin: 0;
  padding: 0;
  font-family: Intern,Poppy serif;  
}
html, body { 
    height: 100%; 
    width: 100%; 
    margin: 0; 
}
body {
    background-color: #8D613B;
    
}

  nav {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    list-style-type: none;
    justify-content: left;
    margin-left: 20px;
    padding: 10px;
}
nav a {
    text-align: center;
    opacity: 85%;
    font-family:Intern,Poppy serif;
    font-size: 20px;
    color: #1A1818;
    text-decoration:none;
    display: inline-block;
    width: 120px;
    height: 30px;
    padding: 10px;
    border: 1px solid #1A1818;
    background-color: #3BC1EE;
}

nav a:hover {
    color: #1A1818;
    background-color: #CAA03E;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 22px;
    background-color: #D9D9D9;
    color: #1A1818;
    text-align: center;
}
.footerkauppa {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 22px;
    background-color: #D9D9D9;
    color: #1A1818;
    text-align: center;
}
.logo {
    border-radius: 40%;
    opacity: 85%;
}

.flex-container {
    display: flex;
    justify-content:space-around;
    background-color: #8d613bc8;
    padding: 10px;
    margin-top: 25px;
}
.flex-container > div {
    color: #D9D9D9;
    font-size: 16px;
    background-color: #644122dd;
}
.flex-container2 {
    display: flex;
    opacity: 85%;
}
.ostanyt {
    color: #57f255;
    margin-bottom: 20px;
}

.etusivuh1 {
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    margin: auto;
    width: 325px;
    border: 1px solid #1A1818;
    background-color: #3BC1EE;
    opacity: 85%;
    margin-top: 250px;
    
}
.kauppah1 {
    color: #3BC1EE;
    border: 2px solid #1A1818;
    background-color: #8D613B;
    font-size: 25px;
    height: 30px;

}
.p1 {
    color: whitesmoke;
    opacity: 85%;
    font-size: 16px;
    text-align: center;
    margin: auto;
    width: 265px;
    border: 1px solid #1A1818;
    background-color: #3BC1EE;
}
.p2 {
    color: whitesmoke;
    opacity: 85%;
    font-size: 16px;
    text-align: center;
    margin: auto;
    width: 330px;
    margin-top: 50px;
    border: 1px solid #1A1818;
    background-color: #3BC1EE;
}
.etusivubody {
    background-image: url("kuvat/etusivuntausta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}
.kauppabody {
    background-image: url("kuvat/kauppatausta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;

}
.CTA {
    color: whitesmoke;
    opacity: 85%;
    background-color: #fe1717;
    display: block;
    text-align: center;
    margin: auto;
    width: 130px;
    border: 1px solid #1A1818;
}
.CTA:hover {
    color:#1A1818;
    background-color: #57f255;
}
@media screen and (min-width: 1200px) {
    .etusivubody {
        background-image: url(kuvat/etusivuntausta.jpg);
        background-attachment: fixed;
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .kauppah1 {
        color: #3BC1EE;
        border: 2px solid #1A1818;
        background-color: #8D613B;
        font-size: 40px;
        height: 50px;

}
}
@media (max-width: 600px) {
    .etusivubody {
        background-image: url(kuvat/etusivuntausta.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: bottom;

    }
    .kauppah1 {
        color: #3BC1EE;
        border: 2px solid #1A1818;
        background-color: #8D613B;
        font-size: 12px;
        height: 25px;
    
    }
    .flex-container {
        display: block;
    }
    .footerkauppa {
        position: static;
    }
}